.menu {
	position: relative;
	&__bg {
		position: absolute;
		&:nth-child(1) {
			right: 0;
			top: 50%;
		}
	}
}

.menu-block {
	width: 100%;
	position: relative;
	padding: 270px 0 0 0;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 453px;
		left: 0px;
		top: 0px;
		background: #fefbec;
		z-index: -1;
	}
	&__list {
		width: 100%;
		max-width: 150px;
		background: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 35px;
		cursor: pointer;
		&-active {
			width: 100%;
			max-width: 370px;
			& .menu-block__list-items {
				& h3 {
					display: block;
					transition: all 0.5s ease;
				}
			}
			& .menu-block__list-arrow {
				& h3 {
					display: block;
					transition: all 0.5s ease;
				}
				& img {
					width: 86px;
					height: 86px;
					object-fit: contain;
					transform: rotate(0deg);
					transition: all 0.5s ease;
				}
			}
			& .menu-block__list-btn {
				display: block;
			}
		}
		&-items {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& img {
				width: 86px;
				height: 86px;
				object-fit: contain;
			}
			& h3 {
				font-family: TT Norms;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 25px;
				color: #021245;
				margin: 0 0 0 40px;
				display: none;
				transition: all 0.5s ease;
			}
		}
		&-arrow {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& img {
				width: 86px;
				height: 86px;
				object-fit: contain;
				transform: rotate(180deg);
				transition: all 0.5s ease;
			}
			& h3 {
				font-family: TT Norms;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 25px;
				color: #021245;
				margin: 0 0 0 40px;
				display: none;
				transition: all 0.5s ease;
			}
		}
		&-btn {
			padding: 20px 11px;
			background: #003f80;
			border-radius: 39px;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 25px;
			color: #ffffff;
			font-family: TT Norms;
			margin: 0 0 0 30px;
			display: none;
			transition: all 0.5s ease;
		}
	}
	&__containers {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 0 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__title {
		margin: 0 0 65px 0;
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 64px;
		line-height: 25px;
		color: #021245;
	}
	&__wrappers {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		gap: 15px;
	}
	&__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 15px;
	}
	&__items {
		background: #ffffff;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		justify-content: flex-start;
		box-shadow: 0px 0px 8px rgba(0, 88, 180, 0.6);
		&-text {
			padding: 18px 12px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& h3 {
				font-family: TT Norms;
				width: 155px;
				font-style: normal;
				font-weight: normal;
				font-size: 22px;
				line-height: 30px;
				color: #003f80;
				padding: 0 10px 0 0;
			}
		}
		&-photo {
			width: 100%;
			height: 285px;
			overflow: hidden;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-price {
			border: 2px solid #003f80;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			border-radius: 39px;
			padding: 10px;
			width: 130px;
			& p {
				font-family: PTSerif;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 23px;
				color: #003f80;
			}
		}
		&-veg {
			background: #009c30;
			border-radius: 38.5px;
			width: 57px;
			height: 57px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			position: absolute;
			left: 12px;
			bottom: 12px;
			& img {
				max-width: 45px;
				max-height: 45px;
			}
		}
		&-new {
			background: #003f80;
			border-radius: 38.5px;
			width: 57px;
			height: 57px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			position: absolute;
			left: 12px;
			bottom: 12px;
			& img {
				max-width: 45px;
				max-height: 45px;
			}
		}
	}
	&__item {
		background: #ffffff;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		align-items: center;
		position: relative;
		justify-content: flex-start;
		box-shadow: 0px 0px 8px rgba(0, 88, 180, 0.6);
		&-title {
			font-family: TT Norms;
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 30px;
			color: #003f80;
			padding: 20px 0;
		}
		&-photo {
			margin: auto;
		}
	}
}
