.menu {
	position: relative;
	&__bg {
		position: absolute;
		&:nth-child(1) {
			right: 0;
			top: 50%;
		}
	}
}

.menu-block {
	width: 100%;
	position: relative;
	padding: 270px 0 0 0;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 453px;
		left: 0px;
		top: 0px;
		background: #fefbec;
		z-index: -1;
	}
	&__list {
		max-width: 72px;
		background: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 12px 15px 20px 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.45);
		border-radius: 36px;
		gap: 12px;
		cursor: pointer;
		position: absolute;
		right: 25px;
		top: 210px;
		z-index: 12;
		&-active {
			width: 100%;
			max-width: 240px;
			& .menu-block__list-items {
				& h3 {
					display: block;
					transition: all 0.5s ease;
				}
			}
			& .menu-block__list-arrow {
				& h3 {
					display: block;
					transition: all 0.5s ease;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
					color: #021245;
					position: absolute;
					left: 20px;
				}
				& img {
					object-fit: contain;
					transform: rotate(0deg);
					transition: all 0.5s ease;
				}
			}
			& .menu-block__list-btn {
				display: block;
			}
		}
		&-items {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& img {
				object-fit: contain;
			}
			& h3 {
				font-family: TTNorms;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 25px;
				color: #021245;
				margin: 0 0 0 20px;
				display: none;
				transition: all 0.5s ease;
			}
			&:last-child {
				& h3 {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					color: #000000;
				}
			}
		}
		&-arrow {
			display: flex;
			position: relative;
			align-items: center;
			cursor: pointer;
			justify-content: center;
			width: 42px;
			height: 42px;
			border: 2px solid #06417d;
			border-radius: 50%;
			& img {
				object-fit: contain;
				transform: rotate(180deg);
				transition: all 0.5s ease;
			}
			& h3 {
				font-family: TTNorms;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 25px;
				color: #021245;
				margin: 0 0 0 40px;
				display: none;
				transition: all 0.5s ease;
			}
		}
		&-btn {
			padding: 9px 18px;
			background: #003f80;
			border-radius: 39px;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			line-height: 15px;
			color: #ffffff;
			font-family: TTNorms;
			margin: 0 0 0 20px;
			display: none;
			transition: all 0.5s ease;
		}
	}
	&__containers {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__title {
		margin: 0 0 65px 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		& p {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: 44px;
			line-height: 25px;
			color: #021245;
		}
		&-filter {
			width: 53px;
			height: 53px;
			background: #ffffff;
			border: 2px solid #003f80;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border-radius: 50%;
			display: none;
		}
	}
	&__wrappers {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		gap: 15px;
	}
	&__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		gap: 55px 15px;
		justify-items: center;
	}
	&__btn {
		margin: 70px auto 80px auto;
		background: #ffffff;
		border: 2px solid #06417d;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		border-radius: 27px;
		padding: 14px 35px;
		& p {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			letter-spacing: 0.1em;
			color: #003f80;
		}
	}
	&__items {
		background: transparent;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 290px;
		position: relative;
		&:hover {
			& .menu-block__items-photo img {
				transition: all 0.5s ease;
				transform: scale(1.1);
			}
		}
		&-photo {
			width: 100%;
			height: 266px;
			overflow: hidden;
			border-radius: 10px;
			& img {
				transition: all 0.5s ease;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-new {
			width: 62px;
			height: 62px;
			background: #06417d;
			border: 2px solid #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			position: absolute;
			top: -31px;
			right: 15px;
		}
		&-price {
			background: #06417d;
			border: 3px solid #ffffff;
			box-sizing: border-box;
			border-radius: 31px;
			padding: 16px 32px;
			position: absolute;
			left: 50%;
			width: max-content;
			transform: translate(-50%, 0%);
			top: 239px;
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 500;
				font-size: 19px;
				line-height: 22px;
				text-align: center;
				letter-spacing: 0.1em;
				color: #ffffff;
			}
		}
		&-line {
			width: 51px;
			height: 0px;
			border-top: 1px solid #06417d;
			margin: 50px auto 15px auto;
		}
		&-text {
			margin: 0 auto;
			& h3 {
				font-family: Prata;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #06417d;
			}
		}
	}
	&__item {
		background: #ffffff;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		align-items: center;
		position: relative;
		justify-content: flex-start;
		box-shadow: 0px 0px 8px rgba(0, 88, 180, 0.6);
		&-title {
			font-family: TTNorms;
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 30px;
			color: #003f80;
			padding: 20px 0;
		}
		&-photo {
			margin: auto;
		}
	}
}
