@media (max-width: 1440px) {
	.business-block__titles {
		font-family: TTNorms;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		color: #021245;
		width: 100%;
	}
	.business-block__add {
		font-family: PTSans;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 50px;
		text-align: left;
		color: #021245;
		margin: 70px 0 90px 0;
	}
	.business-block__title {
		margin: 0 0 90px 0;
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 64px;
		line-height: 70px;
		color: #021245;
	}
}
@media (max-width: 1200px) {
	.business-block__containers {
		padding: 0 20px;
	}
}
@media (max-width: 1000px) {
	.business-block__list {
		justify-items: center;
	}
	.business-block__list {
		padding: 60px 20px;
	}
}
