.wine {
	position: relative;
	&__bg {
		position: absolute;
		&:nth-child(1) {
			right: 0;
			top: 50%;
		}
	}
}

.wine-block {
	width: 100%;
	position: relative;
	padding: 270px 0 0 0;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 650px;
		left: 0px;
		top: 0px;
		background: #fefbec;
		z-index: -1;
	}
	&__containers {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__title {
		margin: 0 0 65px 0;
		& p {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: 54px;
			line-height: 50px;
			color: #021245;
		}
		&-filter {
			display: none;
		}
	}
	&__filter {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 0 0 0 0;
		width: 100%;
		position: relative;
		& h3 {
			font-family: TTNorms;
			font-style: normal;
			font-weight: normal;
			font-size: 21px;
			line-height: 45px;
			color: #003f80;
		}
		// &-reset {
		// 	display: flex;
		// 	align-items: center;
		// 	flex-direction: column;
		// 	cursor: pointer;
		// 	justify-content: flex-start;
		// 	& p {
		// 		font-family: TTNorms;
		// 		font-style: normal;
		// 		font-weight: normal;
		// 		font-size: 16px;
		// 		line-height: 22px;
		// 		text-decoration-line: underline;
		// 		color: #003f80;
		// 		margin: 7px 0 0 0;
		// 	}
		// }
		// &-catalog {
		// 	& .cart-select-css {
		// 		width: 240px;
		// 	}
		// }
		// &-type {
		// 	& .cart-select-css {
		// 		width: 240px;
		// 	}
		// }
		// &-country {
		// 	& .cart-select-css {
		// 		width: 240px;
		// 	}
		// }
		// &-volume {
		// 	& .cart-select-css {
		// 		width: 240px;
		// 	}
		// }
		// &-add {
		// 	& .cart-select-css {
		// 		width: 240px;
		// 	}
		// }
		&-block {
			overflow: hidden;
			width: 100%;
			height: 100%;
			padding: 10px;
			position: absolute;
			top: 135px;
			left: 0;
			height: 460px;
			z-index: 3;
			background: #ffffff;
			border: 2px solid #003f80;
			border-radius: 30px;
		}
		&-wrapper {
			width: 100%;
			overflow: auto;
			height: 100%;
			padding: 10px;
			&::-webkit-scrollbar {
				width: 27px;
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 10px 10px gray;
				box-shadow: inset 0 0 10px 10px gray;
				border: solid 12px transparent;
				margin: 0 10px 0 0;
			}

			&::-webkit-scrollbar-thumb {
				-webkit-box-shadow: inset 0 0 10px 10px #003f80;
				box-shadow: inset 0 0 10px 10px #003f80;
				border: solid 10px transparent;
			}
		}
		&-search {
			width: 100%;
			padding: 8px 30px;
			background: #ffffff;
			border: 2px solid #003f80;
			box-sizing: border-box;
			border-radius: 30px;
			position: relative;
			&-btn {
				background: url("../svg/wine/search.svg") no-repeat;
				position: absolute;
				top: 50%;
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translate(0%, -50%);
				right: 25px;
				cursor: pointer;
			}
			& input {
				height: 40px;
				border: none;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 45px;
				color: #06417d;
				width: 90%;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					font-family: TTNorms;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 45px;
					color: rgba(6, 65, 125, 0.5);
				}
			}
		}
		&-line {
			width: 100%;
			height: 2px;
			margin: 12px 0;
			border-top: 2px solid #003f80;
		}
		&-catalog {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 20px;
		}
		&-type {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 20px;
		}
		&-country {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 20px;
		}
		&-volume {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 20px;
		}
		&-product {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 20px;
		}
	}
	&__wrappers {
		margin: 23px 0 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		gap: 55px 25px;
		margin: 50px 0 0 0;
		width: 100%;
		justify-items: center;
	}
	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		width: 290px;
		cursor: pointer;
		&:hover {
			& .wine-block__items-photo img {
				transition: all 0.5s ease;
				transform: scale(1.1);
			}
		}
		&-photo {
			background: #f0f0f0;
			border-radius: 10px;
			width: 100%;
			height: 400px;
			overflow: hidden;
			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				transition: all 0.5s ease;
			}
		}
		&-line {
			width: 51px;
			height: 0px;
			border-top: 1px solid #06417d;
			margin: 50px auto 15px auto;
		}
		&-title {
			margin: 0 auto;
			& h3 {
				font-family: Prata;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #06417d;
			}
		}
		&-new {
			width: 62px;
			height: 62px;
			background: #06417d;
			border: 2px solid #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			position: absolute;
			top: -31px;
			right: 15px;
		}
		&-price {
			background: #06417d;
			border: 3px solid #ffffff;
			border-radius: 31px;
			display: flex;
			width: max-content;
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
			position: absolute;
			top: 373px;
			left: 50%;
			transform: translate(-50%, 0%);
			padding: 10px 30px;
			flex-wrap: wrap;
			& h5 {
				font-family: TTNorms;
				width: max-content;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				text-align: center;
				letter-spacing: 0.1em;
				color: #ffffff;
				margin: 5px 0 0 0;
			}
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 700;
				font-size: 13px;
				line-height: 15px;
				text-align: center;
				color: #ffffff;
				margin: 0 0 0 5px;
			}
		}
	}
	&__open {
		background: #ffffff;
		border: 2px solid #06417d;
		border-radius: 27px;
		padding: 14px 35px;
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		cursor: pointer;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.1em;
		color: #003f80;
		margin: 60px auto 0 auto;
	}
}

.wine-block__filter-catalog-c,
.wine-block__filter-type-c,
.wine-block__filter-country-c,
.wine-block__filter-volume-c,
.wine-block__filter-product-c {
	position: relative;
	min-width: 270px;
	padding: 10px 0 10px 50px;
	background: #ffffff;
	border: 2px solid #06417d;
	border-radius: 31px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: all 0.5s ease;
	& input {
		opacity: 0;
	}
	&__i {
		margin: 0 8px 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 32px;
		max-height: 32px;
	}
	&__t {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		color: #06417d;
		transition: all 0.5s ease;
	}
	&__a {
		background: #06417d;
		border: 2px solid #ffffff;
		& .wine-block__filter-catalog-c__t,
		.wine-block__filter-type-c__t,
		.wine-block__filter-country-c__t,
		.wine-block__filter-volume-c__t,
		.wine-block__filter-product-c__t {
			color: #fff;
		}
	}
}

.wine-block__filter-catalog-c__input,
.wine-block__filter-type-c__input,
.wine-block__filter-country-c__input,
.wine-block__filter-volume-c__input,
.wine-block__filter-product-c__input {
	appearance: none;
	position: absolute;
}

.wine-block__filter-catalog-c__label,
.wine-block__filter-type-c__label,
.wine-block__filter-country-c__label,
.wine-block__filter-volume-c__label,
.wine-block__filter-product-c__label {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.wine-block__filter-catalog-c__label:before,
.wine-block__filter-type-c__label:before,
.wine-block__filter-country-c__label:before,
.wine-block__filter-volume-c__label:before,
.wine-block__filter-product-c__label:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background: #c4c4c4;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	left: 15px;
	z-index: 1;
	transition: background 0.1s linear, border 0.1s linear;
}

.wine-block__filter-catalog-c__label:after,
.wine-block__filter-type-c__label:after,
.wine-block__filter-country-c__label:after,
.wine-block__filter-volume-c__label:after,
.wine-block__filter-product-c__label:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ffffff;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	left: 21px;
	z-index: 2;
	transition: opacity 0.1s linear;
}

.wine-block__filter-catalog-c__input:checked + .wine-block__filter-catalog-c__label:after,
.wine-block__filter-type-c__input:checked + .wine-block__filter-type-c__label:after,
.wine-block__filter-country-c__input:checked + .wine-block__filter-country-c__label:after,
.wine-block__filter-volume-c__input:checked + .wine-block__filter-volume-c__label:after,
.wine-block__filter-product-c__input:checked + .wine-block__filter-product-c__label:after {
	opacity: 1;
}
