.bar {
	position: relative;
	&__bg {
		position: absolute;
		&:nth-child(1) {
			right: 0;
			top: 50%;
		}
	}
}

.bar-block {
	width: 100%;
	position: relative;
	padding: 270px 0 0 0;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 600px;
		left: 0px;
		top: 0px;
		background: #fefbec;
		z-index: -1;
	}
	&__containers {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__title {
		margin: 0 0 65px 0;
		& p {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: 54px;
			line-height: 50px;
			color: #021245;
		}
		&-filter {
			width: 53px;
			height: 53px;
			background: #ffffff;
			border: 2px solid #003f80;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border-radius: 50%;
			display: none;
		}
	}
	&__filter {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 0 0 0 0;
		width: calc(100% - 120px);
		& h3 {
			font-family: TTNorms;
			font-style: normal;
			font-weight: normal;
			font-size: 21px;
			line-height: 45px;
			color: #003f80;
		}
		&-reset {
			display: flex;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
			justify-content: flex-start;
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 22px;
				text-decoration-line: underline;
				color: #003f80;
				margin: 7px 0 0 0;
			}
		}
		&-search {
			width: 249px;
			padding: 8px 30px;
			background: #ffffff;
			border: 2px solid #003f80;
			box-sizing: border-box;
			border-radius: 30px;
			position: relative;
			&-btn {
				background: url("../svg/bar/search.svg") no-repeat;
				position: absolute;
				top: 50%;
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translate(0%, -50%);
				right: 25px;
				cursor: pointer;
			}
			& input {
				height: 40px;
				/* outline: none; */
				border: none;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 45px;
				color: #06417d;
				width: 150px;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					font-family: TTNorms;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 45px;
					color: rgba(6, 65, 125, 0.5);
				}
			}
		}
	}
	&__wrappers {
		margin: 23px 0 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		gap: 55px 25px;
		margin: 50px 0 0 0;
		width: 100%;
	}
	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		width: 290px;
		cursor: pointer;
		&:hover {
			& .bar-block__items-photo img {
				transition: all 0.5s ease;
				transform: scale(1.1);
			}
		}
		&-photo {
			background: #f0f0f0;
			border-radius: 10px;
			width: 100%;
			height: 400px;
			overflow: hidden;
			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				transition: all 0.5s ease;
			}
		}
		&-line {
			width: 51px;
			height: 0px;
			border-top: 1px solid #06417d;
			margin: 50px auto 15px auto;
		}
		&-title {
			margin: 0 auto;
			& h3 {
				font-family: Prata;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #06417d;
			}
		}
		&-new {
			width: 62px;
			height: 62px;
			background: #06417d;
			border: 2px solid #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			position: absolute;
			top: -31px;
			right: 15px;
		}
		&-price {
			background: #06417d;
			border: 3px solid #ffffff;
			border-radius: 31px;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 373px;
			left: 50%;
			transform: translate(-50%, 0%);
			padding: 16px 15px;
			flex-wrap: wrap;
			& h5 {
				font-family: TTNorms;
				width: max-content;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				text-align: center;
				letter-spacing: 0.1em;
				color: #ffffff;
			}
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 700;
				font-size: 13px;
				line-height: 15px;
				text-align: center;
				color: #ffffff;
				margin: 0 0 0 5px;
			}
		}
	}
	&__open {
		background: #ffffff;
		border: 2px solid #06417d;
		border-radius: 27px;
		padding: 14px 35px;
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		cursor: pointer;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.1em;
		color: #003f80;
		margin: 60px auto 0 auto;
	}
}

.cart-select-css {
	padding: 13px 20px;
	width: 250px;
	position: relative;
	background: #ffffff;
	border: 2px solid #003f80;
	border-radius: 30px;
}
.cart-select-css .cart-select-placeholder {
	display: block;
	width: calc(100% - 25px);
	height: 100%;
	position: relative;
	cursor: pointer;
	font-family: TTNorms;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #06417d;
}
.cart-select-css:after {
	display: none !important;
}
.cart-select-css .cart-select-placeholder:after {
	content: "";
	background: url("../svg/bar/arrow-down.svg") no-repeat;
	transition: all 0.5s ease;
	position: absolute;
	top: 50%;
	right: -28px;
	transform: translate(0, -50%);
	height: 12px;
	width: 19px;
}
.cart-select-css.cart-select-item-active .cart-select-placeholder:after {
	transition: all 0.5s ease;
	transform: translate(0, -50%) rotate(180deg);
}
.cart-select-css .cart-select-block {
	bottom: auto;
	top: calc(100% + 1px);
	position: absolute;
	left: 0;
	z-index: 5;
}
.cart-select-css.cart-select-item-active {
	/* border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0; */
}
.cart-select-css.cart-select-item-active .cart-select-block {
	padding: 20px;
	width: calc(100% - 40px);
	border-radius: 30px;
	height: auto;
	border: 2px solid #003f80;
	box-sizing: content-box;
	background: #fff;
	margin-left: -2px;
}
.cart-select-css .cart-select-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 145px;
	overflow-y: auto;
}
.cart-select-css .cart-select-wrapper::-webkit-scrollbar {
	width: 27px;
}
.cart-select-css .cart-select-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px 10px #435179;
	box-shadow: inset 0 0 10px 10px #435179;
	border: solid 12px transparent;
}
.cart-select-css .cart-select-wrapper::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 10px 10px #003f80;
	box-shadow: inset 0 0 10px 10px #003f80;
	border: solid 10px transparent;
}
.cart-select-css .cart-select-element {
	width: 100%;
	padding: 3px 0;
	background: 0 0;
	color: #000;
	border: none;
	margin: 0 0 5px 0;
	text-align: left;
	cursor: pointer;
	font-family: TTNorms;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #06417d;
}

.c_select {
	padding: 13px 10px 13px 20px;
	position: relative;
	width: 250px;
	position: relative;
	background: #ffffff;
	border: 2px solid #003f80;
	border-radius: 30px;
}
.c_select .c_select-placeholder {
	display: block;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	cursor: pointer;
	font-family: TTNorms;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #06417d;
}
.c_select .c_select-placeholder img {
	max-width: 32px;
	max-height: 32px;
	margin: 0 5px 0 0;
}
.c_select:after {
	display: none !important;
}
.c_select .c_select-placeholder:after {
	content: "";
	background: url("../svg/bar/arrow-down.svg") no-repeat;
	transition: all 0.5s ease;
	position: absolute;
	top: 55%;
	right: 8px;
	transform: translate(0, -55%);
	height: 11px;
	width: 22px;
}
.c_select.c_select-item-active .c_select-placeholder:after {
	transition: all 0.5s ease;
	transform: translate(0, -50%) rotate(180deg);
}
.c_select .c_select-block {
	bottom: auto;
	top: calc(100% + 3px);
	position: absolute;
	left: 0;
	z-index: 5;
}
.c_select.c_select-item-active .c_select-block {
	padding: 20px;
	width: 100%;
	height: auto;
	box-shadow: 6px 6px 10px -1px rgb(0 0 0 / 10%), -6px -6px 10px -1px rgb(255 255 255 / 70%);
	border-radius: 30px;
	border: 2px solid #003f80;
	background: #ffffff;
}
.c_select .c_select-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 145px;
	overflow-y: auto;
}
.c_select .c_select-wrapper::-webkit-scrollbar {
	width: 27px;
}
.c_select .c_select-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px 10px #435179;
	box-shadow: inset 0 0 10px 10px #435179;
	border: solid 12px transparent;
}
.c_select .c_select-wrapper::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 10px 10px #003f80;
	box-shadow: inset 0 0 10px 10px #003f80;
	border: solid 10px transparent;
}
.c_select .c_select-element {
	width: 100%;
	padding: 3px 0;
	background: 0 0;
	color: #000;
	border: none;
	margin: 0 0 5px 0;
	text-align: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	font-family: TTNorms;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #06417d;
}
.c_select .c_select-element img {
	width: 32px;
	height: 32px;
	margin: 0 5px 0 0;
}
.c_select .c_select-element-active {
	background: transparent;
}
