footer.footer 
        .footer__wrapper
            .footer__block 
                .footer__block-wrapper
                    .footer__block-logo 
                        a(href="/") 
                            img(src="./svg/footer/footer-logo.svg" alt="logo")
                    .footer__block-contact 
                        a(href="#") 
                            img(src="./svg/footer/telegram.svg" alt="icons")
                        a(href="#") 
                            img(src="./svg/footer/add.svg" alt="icons")
                    .footer__block-tb 
                        .footer__block-table 
                            a(href="#") 
                                img(src="./img/footer/visa.png" alt="icons")
                            a(href="#") 
                                img(src="./img/footer/master.png" alt="icons")
                            a(href="#") 
                                img(src="./img/footer/mir.png" alt="icons")
                            a(href="#") 
                                img(src="./img/footer/pay.png" alt="icons")
                            a(href="#") 
                                img(src="./img/footer/pays.png" alt="icons")
                            a(href="#") 
                                img(src="./img/footer/p.png" alt="icons")
                        .footer__block-create 
                            a(href="https://bpump.ru") Разработано Business pump
                    ul.footer__block-list 
                        li.footer__block-items  
                            a(href="business.html") Для  бизнеса
                        li.footer__block-items  
                            a(href="promotion.html") Бонусы
                        li.footer__block-items  
                            a(href="about.html") О нас
                    ul.footer__block-list 
                        li.footer__block-items  
                            a(href="delivery.html") Доставка
                        li.footer__block-items  
                            a(href="#") Контакты
                        li.footer__block-items  
                            a(href="#") Информация







