header.header 
    .header__lines
        .header__line 
        .header__line
    .header__btns
        .header__order 
            h3 Корзина
            img(src="../svg/header/basket.svg" alt="icons")
        a(href="#").header__basket 
            h3 Заказать столик
            img(src="../svg/header/notif.svg" alt="icons")
    .containers 
        .header__menu 
            img(src="./svg/header/menu.svg" alt="menu")
        .header__lang 
            | EN
        .header__logo 
            img(src="../svg/header/header-logo.svg" alt="logo")
        .header__circle
