.menus.display-n
        .menus__wrapper 
            .menus__close 
                img(src="./svg/menu/close.svg" alt="icons")
            .menus__list 
                a(href="#").menus__items
                    p О нас
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Галерея
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Меню
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Винная карта
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Барная карта
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Доставка
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Бронирование
                    img(src="./svg/menu/icons0.svg", alt="icons")
                a(href="#").menus__items
                    p Акции и бонусы
                    img(src="./svg/menu/icons0.svg", alt="icons")
            .menus__contact 
                a(href="#")
                    img(src="./svg/menu/inst.svg", alt="icons") 
                a(href="#")
                    img(src="./svg/menu/facebook.svg", alt="icons") 
                a(href="#")
                    img(src="./svg/menu/trip.svg", alt="icons") 