.modelBookingPhoto.display-n
    .modelBookingPhoto__wrapper
        .modelBookingPhoto__close 
            img(src="./svg/booking/close.svg" alt="icons")
        .modelBookingPhoto__photo 
            img(src="./img/booking/model-1.png" alt="img")
            img(src="./img/booking/model-2.png" alt="img")
            img(src="./img/booking/model-3.png" alt="img")
        .modelBookingPhoto__description 
            p Уделяем внимание каждой мелочи и находимся всегда на связи, чтобы идея вашего торжества превратилась в живой праздник, наполненный легкостью и изяществом. В процессе подготовки мы познакомим вас с теми, на кого можно положиться: ведущий, музыканты, декораторы, фотограф - с нами в одной команде.
            p Звук в двух залах подается через качественные колонки. Мы пригласим артиста для музыкального сопровождения Вашего вечера. Ведь любой праздник интереснее с живой музыкой!
            p Парковка для гостей кафе рядом с нами - бесплатная.
            p Банкетное меню состоит из 80 позиций, в том числе алкоголь и десерты.
            p Чтобы получить дополнительную информаци позвоните по номеру: 
                a(href="tel:+74956659242")  +74956659242.