.modelGalleryPhoto.display-n
    .modelGalleryPhoto__close.galleryClose
        img(src="./svg/gallery/close_model.svg" alt="icons")
    .modelGalleryPhoto__block 
        .swiper.modelGalleryPhotos
            .swiper-wrapper
                .swiper-slide
                    img(src="./img/gallery/img-1.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-2.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-3.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-4.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-5.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-6.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-7.png" alt="img")
                .swiper-slide
                    img(src="./img/gallery/img-8.png" alt="img")
        .swiper-controls 
            .swiper-button-next
                img(src="./svg/gallery/arrow-next.svg" alt="arrow")
            .swiper-button-prev
                img(src="./svg/gallery/arrow-prev.svg" alt="arrow")
