.modelIndexThx.display-n
        .modelIndexThx__wrapper
            .modelIndexThx__block
                .modelIndexThx__close
                    img(src="./svg/index/close_model.svg", alt="icons")
                .modelIndexThx__title Ваше сообщение отправлено. 
                    br
                    | Спасибо, что уделили нам время. 
                    br
                    | Мнение гостей очень ценно для нас.