@media (max-width: 1200px) {
    .gallery-block__containers {
        padding: 0 20px;
    }
    .gallery-block__list {
        width: 100%;
        background: transparent;
        padding: 31px 0 0 0;
    }
    .gallery-block__list:nth-child(odd) {
        padding: 1px 0 31px 0;
    }
    .modelGalleryPhoto__block .swiper-slide img {
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 850px) {
    .gallery-block__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
    }
    .gallery-block__items:nth-child(1) {
        grid-area: 1/1;
    }
    .gallery-block__items:nth-child(2) {
        grid-area: 1/2;
    }
    .gallery-block__items:nth-child(3) {
        grid-area: 2/1;
    }
    .gallery-block__items:nth-child(4) {
        grid-area: 2/2;
    }
    .gallery-block__items:nth-child(5) {
        grid-area: 3/1;
    }
    .gallery-block__items:nth-child(6) {
        grid-area: 3/2;
    }
    .gallery-block__items:nth-child(7) {
        grid-area: 4/1;
    }
    .gallery-block__items:nth-child(8) {
        grid-area: 4/2;
    }
    .modelGalleryPhoto__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 20;
    }
}


@media (max-width: 500px) {
    .gallery-block__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: unset;
    }
    .gallery-block__items:nth-child(1) {
        grid-area: 1/1;
    }
    .gallery-block__items:nth-child(2) {
        grid-area: 2/1;
    }
    .gallery-block__items:nth-child(3) {
        grid-area: 3/1;
    }
    .gallery-block__items:nth-child(4) {
        grid-area: 4/1;
    }
    .gallery-block__items:nth-child(5) {
        grid-area: 5/1;
    }
    .gallery-block__items:nth-child(6) {
        grid-area: 6/1;
    }
    .gallery-block__items:nth-child(7) {
        grid-area: 7/1;
    }
    .gallery-block__items:nth-child(8) {
        grid-area: 8/1;
    }
    .gallery-block__title {
        margin: 35px 0 80px 0;
        font-family: Prata;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 71px;
        color: #021245;
    }
}