@@include('components/_head.pug', {
    "title": "Акции и бонусы",
})

@@include('components/_header.pug')

.about 
    img(class="about__bg" src="./img/bg-left.png" alt="img")
    img(class="about__bg" src="./img/bg-right.png" alt="img")

    .about-block 
        .about-block__containers 
            .about-block__title О кафе
            .about-block__wrapper
                .about-block__description 
                    .about-block__description-title Сила места  
                    .about-block__description-text 
                        p В середине XIX века видным жителем Люсиновской улицы, которая тогда называлась Малой Серпуховской, был французский предприниматель Анри Брокар, владелец парфюмерной компании «Брокар и Ко». Он любил и особенно лестно отзывался об одном из местных трактиров, в котором подавали паштеты во французском стиле, устрицы и шампанское. Со временем компания Брокара стала фабрикой «Новая Заря», а тихая купеческая улица превратилась в промышленный район.
                            br
                            br
                            | Мы верим, что каждое место обладает своей силой, и в 2015 году решили возродить на Люсиновской кафе во французском стиле, некогда бывшее душой района. Мы стремились создать здесь атмосферу притягательного городского кафе, где можно собраться большой семьёй на субботний завтрак, забежать после театра на бокал вина или прийти на романтический ужин. И, судя по отзывам гостей, наша задумка удалась. 
                .about-block__photo
                    img(src="./img/about/about-1.png" alt="img")
                    img(src="./img/about/about-2.png" alt="img")
            .about-block__wine 
                .about-block__photos
                    img(src="./img/about/about-3.png" alt="img")
                .about-block__wines
                    .about-block__wines-title Винная культура
                    .about-block__wines-text
                        p Как любое приличное французское кафе, мы с особым вниманием и уважением относимся к вину. В винной карте Blanc de Blancs представлено около 40 позиций вин со всего мира, каждое из которых скрупулёзно отбирал сомелье и сооснователь русского винного клуба RWC Роман Кривоножкин. Мы хотим, чтобы у гостей была возможность сопровождать наши блюда качественными интересными винами, поэтому предлагаем комфортные демократичные цены. 
                            br
                            br
                            p Мы регулярно проводим в кафе дегустации, которые сопровождаются лёгкими, подобранными к винному сету закусками и познавательными рассказами о сортах винограда, производителях и гастрономической сочетаемости вина. Мы верим, что подобные встречи не только доставляют удовольствие нашим гостям, но и помогают им развивать вкус и расширять кругозор. 
            .about-block__franc 
                .about-block__francs
                    .about-block__francs-title Французский акцент
                    .about-block__francs-text
                        p Акцент в меню Blanc de Blancs сделан на традиционные блюда французской кухни – здесь вы найдёте обжаренный камамбер с ягодным соусом, рататуй с моцареллой, салат Нисуаз с тунцом и яйцом пашот, крем-брюле. Меню дополняют популярные блюда европейской и русской кухни. Поскольку к нам часто приходят всей семьёй, в меню всегда присутствуют позиции, которые любят дети – сырники, блины, паста, пюре.  
                .about-block__photos
                    img(src="./img/about/about-4.png" alt="img")
            .about-block__team
                .about-block__team-title Наша команда
                .about-block__team-wrapper
                    .about-block__team-photo 
                        img(src="./img/about/about-5.png" alt="img")
                    .about-block__team-text
                        p 
                            span Blanc de Blancs
                            | – это небольшая дружная команда единомышленников. Мы стремимся, чтобы вы чувствовали, что вас здесь ждут. Многих из наших постоянных гостей мы знаем по именам и помним, какие блюда они предпочитают.
                            br
                            br
                            | Своей работой мы стараемся внести в суету мегаполиса ощущение неспешности, лёгкости и изящества – добавить толику французского шарма в московскую жизнь. 
            .about-block__slider
                .about-block__slider-titles Отзывы посетителей
                .swiper.aboutSlider
                    .swiper-wrapper
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Анастасия Вареникова
                                .about-block__slider-message 
                                    p Отмечали здесь свадьбу подруги. Классный сервис: очень вкусная еда, официанты не просто подают блюда, но и рассказывают всякие интересные фишки, душевная атмосфера и хорошее настроение, интерьер тоже понравился, чисто уютно) Приятное место.
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Александр К.
                                .about-block__slider-message 
                                    p Великолепное кафе. От интерьера до меню. Действительно, много оригинальных блюд французской кухни. Очень приветливый персонал, уютно. Можно провести романтический вечер, а можно и отметить праздник с компанией - наверняка останетесь довольны. Спасибо огромное за приятный вечер!
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Мария Захарова
                                .about-block__slider-message 
                                    p Очень приятная, спокойная атмосфера. Официанты разговаривают вполголоса, обслуживают без суеты, при этом быстро и любезно. Все, что заказывали, понравилось, в том числе и вино, которое порекомендовал официант.
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name EdoUARD Babayants
                                .about-block__slider-message 
                                    p Отличное кафе. Мы были в компании наших французских партнёров, которые также оценили уровень обслуживания – официанты приветливые вежливые, смогли ответить на все вопросы и дать полезные рекомендации - изысканность блюд, расположение. В жару 30 градусов мы отведали 5 или 6 видов свежих салатов, даже не пришлось заказывать горячее. Было всё настолько вкусно, что вернёмся сюда обязательно в будущем.
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Юлия Кузнецова
                                .about-block__slider-message 
                                    p Очень уютная обстановка. Изысканная, оригинальная и очень вкусная кухня. Внимательнийший персонал!
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Irina Chemikos
                                .about-block__slider-message 
                                    p Раз побывав здесь, приходим снова и снова! Отличное меню французской кухни, все очень вкусно и красиво. Атмосферное стильное пространство, приятная негромкая музыка. Отдельный респект внимательнейшей команде! В кафе можно собраться с друзьями, посидеть семьей, назначить деловую встречу.
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Alexey Gatilov
                                .about-block__slider-message 
                                    p Могу с большой теплотой отозваться и о доброжелательном и внимательном персонале, и о вкусной кухне, и об очень тёплой, уютной атмосфере! Получил большое удовольствие!))
                        .swiper-slide
                            .about-block__slider-items
                                .about-block__slider-photo 
                                    img(src="https://www.thispersondoesnotexist.com/image?11647247122" alt="people")
                                .about-block__slider-name Юрий Виднийчук
                                .about-block__slider-message 
                                    p Маленькое, уютное кафе. Приветливый персонал. Зашли поужинать после спектакля. Брали рыбный суп и луковый-очень вкусно!!! В салате "Цезарь" курица восхитила сочностью и нежностью. Немного не хватило вкуса в соусах к двум пастам, но само тесто было очень вкусное. Спасибо персоналу за приятный вечер!
                .swiper-controls
                    .swiper-button-next
                        img(src="./svg/about/arrow-next.svg" alt="arrow")
                    .swiper-button-prev
                        img(src="./svg/about/arrow-prev.svg" alt="arrow")



@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')

//- https://www.thispersondoesnotexist.com/image?11647247122