@@include('components/_head.pug', {
    "title": "Акции и бонусы",
})

@@include('components/_header.pug')

.about 
    img(class="about__bg" src="./img/bg-left.png" alt="img")
    img(class="about__bg" src="./img/bg-right.png" alt="img")

    .about-block 
        .about-block__containers 
            .about-block__title О нас
            .about-block__description 
                .about-block__description-text 
                    p В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский предприниматель Анри Брокар, основавший здесь свою знаменитую парфюмерную империю. Он не раз хвалил в письмах домой один из местных трактиров: «Недалеко от фабрики один предприимчивый малый открыл чудную ресторацию, устроенную на европейский лад. Чего тут только не найти – и устрицы, и икру, и заморские деликатесы! Тут подают и паштеты на французский манер, и французское шампанское». Со временем «Империя Брокара» превратилась в фабрику «Новая Заря», а тихая купеческая улица - в промышленный район. 
                        br
                        |   Мы верим в то, что у каждого места есть сила, поэтому решили возродить на Люсиновской улице то заведение, которое было когда-то её душой.
                .about-block__description-photo     
                    img(src="./img/about/items.png" alt="img")
            .about-block__title Наша профессиональная  команда
            .about-block__descriptions 
                .about-block__descriptions-text 
                    p   В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский предприниматель Анри Брокар, основавший здесь свою знаменитую парфюмерную империю. Он не раз хвалил в письмах домой один из местных трактиров: «Недалеко от фабрики один предприимчивый малый открыл чудную ресторацию, устроенную на европейский лад. Чего тут только не найти – и устрицы, и икру, и заморские деликатесы! Тут подают и паштеты на французский манер, и французское шампанское». Со временем «Империя Брокара» превратилась в фабрику «Новая Заря», а тихая купеческая улица - в промышленный район.      Мы верим в то, что у каждого места есть сила, поэтому решили возродить на Люсиновской улице то заведение, которое было когда-то её душой.
                        br
                        br
                        | В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский предприниматель Анри Брокар, основавший здесь свою знаменитую парфюмерную империю. Он не раз хвалил в письмах домой один из местных трактиров: «Недалеко от фабрики один предприимчивый малый открыл чудную ресторацию, устроенную на европейский лад. Чего тут только не найти
                .about-block__descriptions-photo     
                    img(src="./img/about/items-1.png" alt="img")
                    img(src="./img/about/items-3.png" alt="img")
                    img(src="./img/about/items-4.png" alt="img")
                    img(src="./img/about/items-2.png" alt="img")



@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')