@@include('components/_head.pug', {
    "title": "Барная карта",
})

@@include('components/_header.pug')

.bar 
    img(class="bar__bg" src="./img/bg-right.png" alt="img")

    .bar-block 
        .bar-block__bg
        .bar-block__containers 
            .bar-block__title 
                p Барная карта
                .bar-block__title-filter 
                    img(src="./svg/index/filter.svg" alt="icons")
            .bar-block__filter 
                h3 Найди свой напиток:
                .bar-block__wrappers 
                    .bar-block__filter-catalog 
                        select(class="cart-select" name="cart" style="display: none")
                            option Все категории
                            option(value="default" selected="") Новые
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                    .bar-block__filter-country
                        select(class="c_select" name="sort" style="display: none")
                            option(data-icon="./img/bar/flag.png" value="default" selected="") Италия
                            option(data-icon="./img/bar/flag.png" value="element_2") 1талия
                            option(data-icon="./img/bar/flag.png" value="element_3") Италия
                            option(data-icon="./img/bar/flag.png" value="element_4") Италия
                            option(data-icon="./img/bar/flag.png" value="element_5") Италия
                            option(data-icon="./img/bar/flag.png" value="element_6") Италия
                            option(data-icon="./img/bar/flag.png" value="element_7") Италия
                            option(data-icon="./img/bar/flag.png" value="element_8") Италия
                    .bar-block__filter-fortress
                        select(class="cart-select" name="cart" style="display: none")
                            option Крепость 14%
                            option(value="default" selected="") Новые
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                    .bar-block__filter-search 
                        input(type="text" placeholder="Найти напиток" value='')
                        button.bar-block__filter-search-btn
                    .bar-block__filter-reset
                        img(src="./svg/bar/close.svg" alt="close")
                        p Сбросить
            .bar-block__list 
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items.bar-block__items-v
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels
                a(href="#").bar-block__items
                    .bar-block__items-new 
                        img(src="./img/bar/new.png" alt="icons")
                    .bar-block__items-photo 
                        img(src="./img/bar/items.png" alt="img")
                    .bar-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .bar-block__items-line
                    .bar-block__items-title
                        h3 Jack Daniels

            button.bar-block__open Смотреть еще





@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')