@@include('components/_head.pug', {
    "title": "Винная карта",
})

@@include('components/_header.pug')

.basket 
    img(class="basket__bg" src="./img/bg-left.png" alt="img")
    img(class="basket__bg" src="./img/bg-right.png" alt="img")

    .basket-block 
        .basket-block__containers 
            .basket-block__title Корзина
            .basket-block__paths 
                .basket-block__path 
                    .basket-block__path-l.basket-block__path-a
                    .basket-block__path-i#btnBasketPath_1.basket-block__path-a
                        .basket-block__path-c 
                        p Ваши товары
                    .basket-block__path-l 
                    .basket-block__path-i#btnBasketPath_2 
                        .basket-block__path-c 
                        p Оформление
                    .basket-block__path-l 
                    .basket-block__path-i#btnBasketPath_3 
                        .basket-block__path-c 
                        p Подтверждение заказа
                    .basket-block__path-l 
                    .basket-block__path-i#btnBasketPath_4 
                        .basket-block__path-c 
                        p Оплата
                    .basket-block__path-l 
                    .basket-block__path-i#btnBasketPath_5 
                        .basket-block__path-c 
                        p Bon appétit!
                    .basket-block__path-l 
            .basket-block__lists
                .basket-block__rec 
                    .basket-block__rec-t Рекомендации к
                        br
                        | вашему заказу:
                    .basket-block__rec-l
                        a(href="#").basket-block__rec-i 
                            .basket-block__rec-d Клубничное безе
                            .basket-block__rec-p 
                                img(src="./img/basket/rec.png" alt="img")
                                .basket-block__rec-h 
                                    img(src="./svg/basket/add.svg" alt="icons")
                        a(href="#").basket-block__rec-i 
                            .basket-block__rec-d Клубничное безе
                            .basket-block__rec-p 
                                img(src="./img/basket/rec.png" alt="img")
                                .basket-block__rec-h 
                                    img(src="./svg/basket/add.svg" alt="icons")
                        a(href="#").basket-block__rec-i 
                            .basket-block__rec-d Клубничное безе
                            .basket-block__rec-p 
                                img(src="./img/basket/rec.png" alt="img")
                                .basket-block__rec-h 
                                    img(src="./svg/basket/add.svg" alt="icons")
                        a(href="#").basket-block__rec-i 
                            .basket-block__rec-d Клубничное безе
                            .basket-block__rec-p 
                                img(src="./img/basket/rec.png" alt="img")
                                .basket-block__rec-h 
                                    img(src="./svg/basket/add.svg" alt="icons")
                        a(href="#").basket-block__rec-i 
                            .basket-block__rec-d Клубничное безе
                            .basket-block__rec-p 
                                img(src="./img/basket/rec.png" alt="img")
                                .basket-block__rec-h 
                                    img(src="./svg/basket/add.svg" alt="icons")
                        a(href="#").basket-block__rec-i 
                            .basket-block__rec-d Клубничное безе
                            .basket-block__rec-p 
                                img(src="./img/basket/rec.png" alt="img")
                                .basket-block__rec-h 
                                    img(src="./svg/basket/add.svg" alt="icons")
                .basket-block__nav 
                    .basket-block__nav-i Изображение блюда
                    .basket-block__nav-i Название блюда и калорийность
                    .basket-block__nav-i Количество (шт.)
                    .basket-block__nav-i Цена  (
                        span 1 
                        | шт.)
                .basket-block__list 
                    .basket-block__items 
                        .basket-block__items-close 
                            img(src="./svg/basket/close.svg" alt="icons")
                        .basket-block__items-p 
                            img(src="./img/basket/items.png" alt="img")
                        .basket-block__items-d 
                            p Банановый десерт
                            span 348 грамм/673 ккал
                        .basket-block__items-c 
                            .basket-block__items-mi
                                img(src="./svg/basket/minus.svg" alt="icons")
                            .basket-block__items-s 
                                p 1
                            .basket-block__items-pl 
                                img(src="./svg/basket/plus.svg" alt="icons")
                        .basket-block__items-price 430 руб.
                    .basket-block__items 
                        .basket-block__items-close 
                            img(src="./svg/basket/close.svg" alt="icons")
                        .basket-block__items-p 
                            img(src="./img/basket/items.png" alt="img")
                        .basket-block__items-d 
                            p Банановый десерт
                            span 348 грамм/673 ккал
                        .basket-block__items-c 
                            .basket-block__items-mi
                                img(src="./svg/basket/minus.svg" alt="icons")
                            .basket-block__items-s 
                                p 1
                            .basket-block__items-pl 
                                img(src="./svg/basket/plus.svg" alt="icons")
                        .basket-block__items-price 430 руб.
                    .basket-block__items 
                        .basket-block__items-close 
                            img(src="./svg/basket/close.svg" alt="icons")
                        .basket-block__items-p 
                            img(src="./img/basket/items.png" alt="img")
                        .basket-block__items-d 
                            p Банановый десерт
                            span 348 грамм/673 ккал
                        .basket-block__items-c 
                            .basket-block__items-mi
                                img(src="./svg/basket/minus.svg" alt="icons")
                            .basket-block__items-s 
                                p 1
                            .basket-block__items-pl 
                                img(src="./svg/basket/plus.svg" alt="icons")
                        .basket-block__items-price 430 руб.

            .basket-block__empty.display-n
                p На данный момент ваша корзина пуста!

            .basket-block__bon.display-n
                h3 Bon appétit!
                p Ваш заказ принят. Ожидайте ответа
                img(src="./svg/basket/bon.svg" alt="icons")
                button.basket-block__bon-b 
                    p Ок

            .basket-block__form.display-n
                .basket-block__form-profile 
                    .basket-block__form-title Оформление заказа
                    .basket-block__form-title Заказчик:
                    .basket-block__form-name 
                        input(type="text" id="basketName")
                        label(for="basketName") *Имя
                    .basket-block__form-surname 
                        input(type="text" id="basketSurname")
                        label(for="basketSurname") *Фамилия
                    .basket-block__form-phone 
                        input(type="text" id="basketPhone")
                        label(for="basketPhone") *Телефон
                    .basket-block__form-title Способ доставки:
                    .basket-block__form-deliverys
                        button.basket-block__form-s.basket-block__form-s_a Сейчас
                        button.basket-block__form-s Ко времени
                    .basket-block__form-date.display-n
                        p С
                        .basket-block__form-times
                            input(type="time" value="17:00")
                        p До
                        .basket-block__form-times
                            input(type="time" value="21:00")
                        .basket-block__form-dates
                            input(type="text" id="datepickerFormBasket" placeholder="Дата")
                .basket-block__form-delivery
                    .basket-block__form-btns 
                        button.basket-block__form-d.basket-block__form-d_a Доставка
                        button.basket-block__form-d Самовывоз
                    .basket-block__form-title.basket-block__form-title-d Адрес доставки:
                    .basket-block__form-street 
                        input(type="text" id="basketStreet")
                        label(for="basketStreet") *Улица
                    .basket-block__form-address 
                        .basket-block__form-kv 
                            input(type="text" id="basketKv")
                            label(for="basketKv") *Квартира
                        .basket-block__form-pd 
                            input(type="text" id="basketPd")
                            label(for="basketPd") *Подъезд
                        .basket-block__form-code 
                            input(type="text" id="basketCode")
                            label(for="basketCode") Код двери
                        .basket-block__form-floor 
                            input(type="text" id="basketFloor")
                            label(for="basketFloor") Этаж
                        p Сумма минимального заказа: 1000 руб.
                    .basket-block__form-title Комментарий:
                    .basket-block__form-text 
                        textarea(placeholder='Введите комментарий к заказу')
                    .basket-block__form-texts.display-n
                        textarea(placeholder='Введите комментарий к заказу')

            .basket-block__confirmation.display-n
                .basket-block__confirmation-list 
                    .basket-block__confirmation-title Подтверждение заказа
                    .basket-block__confirmation-titles Информация о заказе:
                    .basket-block__confirmation-wraps 
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                        a(href="#").basket-block__confirmation-i 
                            .basket-block__confirmation-p 
                                img(src="./img/basket/img.png" alt="img")
                            .basket-block__confirmation-t Филе-миньон
                            .basket-block__confirmation-c 3
                            .basket-block__confirmation-s 930 рублей
                .basket-block__confirmation-info 
                    .basket-block__confirmation-title Информация о доставке:
                    .basket-block__confirmation-table 
                        .basket-block__confirmation-items ФИО заказчика: 
                        .basket-block__confirmation-items Марина
                        .basket-block__confirmation-items Номер заказчика:
                        .basket-block__confirmation-items +7 (495) 665-92-42
                        .basket-block__confirmation-items Адрес доставки: 
                        .basket-block__confirmation-items ул. Люсиновская, д. 36/50
                    .basket-block__confirmation-titles Информация о доставке:
                    .basket-block__confirmation-sum Сумма заказа:  2210 руб.
                    .basket-block__confirmation-delivery Доставка заказа:  210 руб.
                    .basket-block__confirmation-promotion 
                        p Скидка или промокод: -10%
                        button.basket-block__confirmation-prom Добавить 
                    .basket-block__confirmation-line 
                    .basket-block__confirmation-prices Итого к оплате: 
                        span 2310 руб.

            .basket-block__payment.display-n
                .basket-block__payment-title
                    .basket-block__payment-titles Оплата
                    .basket-block__payment-btns 
                        a(href="#" target="_blank").basket-block__payment-card Карта
                        a(href="#").basket-block__payment-cash Наличные 
                .basket-block__payment-description 
                    p Уважаемые гости! Для  уточнения заказа, вам перезвонят наши сотрудки в течении 15 минут с момента оформления заказа. В случае неоплаты заказа он будет автоматически отменён. Если вы оплатили, но не забрали свой заказ в назначенное время, он будет считаться выполненым и возврат денежных средств будет невозможен.  Переходя даллее, вы автоматически соглашаетесь с правилами написаными выше и несёте ответственность за их невыполнение.

            .basket-block__arrows 
                .basket-block__arrows-p 
                    img(src="./svg/basket/arrow-prev.svg" alt="icons")
                .basket-block__arrows-n 
                    img(src="./svg/basket/arrow-next.svg" alt="icons")

@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')