@@include('components/_head.pug', {
    "title": "Галерея",
})

@@include('components/_header.pug')

.delivery 
    img(class="delivery__bg" src="./img/bg-left.png" alt="img")
    img(class="delivery__bg" src="./img/bg-right.png" alt="img")

    .delivery-block 
        .delivery-block__containers
            .delivery-block__title Доставка
            ul.delivery-block__list 
                li.delivery-block__items 
                    .delivery-block__items-photo 
                        img(src="./img/booking/imgs-1.png" alt="img")
                    .delivery-block__items-text
                        .delivery-block__items-description 
                            h3 BLANC DE BLANCS
                            p 1.Оформляя заказ через нашу службу доставки, вы можете получить скидку до 30%. 
                                br
                                | 2. С вами на связи менеджер, который учтёт ваши пожелания и ответит на все вопросы. 
                                br
                                | 3. Наши курьеры доставят еду аккуратно и в указанные сроки, ответственность за качество доставки несём мы. 
                                br
                                | 4. Вы можете участвовать в программе лояльности и получить кешбэк с заказа. 
                                br 
                                | 5. В радиусе 1 км мы доставляем заказы от 1 000 рублей бесплатно, а меньше 1 000 – за 100 рублей
                        a(href="basket.html").delivery-block__items-btn Заказать
                li.delivery-block__items 
                    .delivery-block__items-photo 
                        img(src="./img/booking/imgs-1.png" alt="img")
                    .delivery-block__items-text
                        .delivery-block__items-description 
                            h3 Яндекс.Еда
                            p 1. Вы можете заказать блюда из нашего кафе через веб-сайт или мобильное приложение сервиса Яндекс.Еда. 
                                br
                                | 2. Доставку осуществляют курьерские службы, курьеры-партнёры сервиса, водители-партнёры Яндекс Go. 
                                br 
                                | 3. Как только мы получим заказ и начнём его готовить, вам придёт уведомление. 
                                br
                                | 4. Когда курьер заберёт заказ из ресторана, вы получите уведомление об изменениях в статусе заказа и сможете отслеживать его на карте в режиме реального времени.
                        a(href="https://eda.yandex.ru/restaurant/blan_de_blan_lyusinovskaya_36_50").delivery-block__items-btn Заказать
                li.delivery-block__items 
                    .delivery-block__items-photo 
                        img(src="./img/booking/imgs-1.png" alt="img")
                    .delivery-block__items-text
                        .delivery-block__items-description 
                            h3 Delivery Club
                            p 1. Вы можете заказать блюда из нашего кафе через веб-сайт или мобильное приложение сервиса Delivery Club.
                                br
                                | 2. Доставку осуществляет курьерская служба Delivery Club. 
                                br
                                | 3. После оформления заказа вы можете отслеживать его статус в мобильном приложении. 
                        a(href="https://www.delivery-club.ru/srv/Blanc_de_Blancs_msk").delivery-block__items-btn Заказать
                







@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')