@@include('components/_head.pug', {
    "title": "Галерея",
})

@@include('components/_header.pug')

.dish 
    img(class="dish__bg" src="./img/bg-left.png" alt="img")
    img(class="dish__bg" src="./img/bg-right.png" alt="img")

    .dish-block 
        .dish-block__arrows 
            button.dish-block__back(onclick="history.back()")
                img(src="./svg/dish/arrow.svg" alt="icons")
                p Назад 
        .swiper.sliderDish
            .swiper-wrapper
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб
                .swiper-slide 
                    .dish-block__containers    
                        .dish-block__photo 
                            img(src="./img/dish/items.png" alt="img")
                            .dish-block__photo-type 
                                img(src="./svg/dish/icons.svg" alt="icons" class='dish-block__photo-icons')
                            .dish-block__photo-add 
                                p Энерг. ценность
                                p 254 ккал
                        .dish-block__info 
                            .dish-block__path 
                                p Вегетарианское блюдо
                                .dish-block__path-c 
                                p Салаты
                                .dish-block__path-c 
                                p Новинки
                            .dish-block__title Свежий салат
                            .dish-block__description 
                                span Состав: 
                                | Помидоры чери, крвсный лук, огурец, салат, авокадо, гранат, лайм
                            ul.dish-block__list 
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-1.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Жиры
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-2.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Белки
                                li.dish-block__items 
                                    img(src="./svg/dish/icons-3.svg" alt="icons")
                                    p 32.9
                                        br
                                        | Углеводы

                            .dish-block__btns 
                                button.dish-block__pay
                                    img(src="./svg/dish/basket.svg" alt="icons")
                                    p 290 руб

        .swiper-controls 
            .swiper-button-next
                img(src="./svg/dish/arrow-next.svg" alt="arrow")
            .swiper-button-prev
                img(src="./svg/dish/arrow-prev.svg" alt="arrow")
            .swiper-pagination






@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')