@@include('components/_head.pug', {
    "title": "Главная",
})

@@include('components/_header.pug')

.index

    section.ind-header 
        .ind-header__contact
            a(href="https://www.instagram.com/").ind-header__inst instagram
            a(href="tel:+74956659242").ind-header__phone 
                img(src="./svg/index/phone.svg" alt="icons")
                p +7 (495) 665-92-42
        .ind-header__slider
            .swiper.indexHeader
                .swiper-wrapper
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text Французский ресторан
                                button.ind-header__slider-btn Подробнее
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text Французский ресторан
                                button.ind-header__slider-btn Подробнее
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text Французский ресторан
                                button.ind-header__slider-btn Подробнее
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text Французский ресторан
                                button.ind-header__slider-btn Подробнее
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text Французский ресторан
                                button.ind-header__slider-btn Подробнее
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text Французский ресторан
                                button.ind-header__slider-btn Подробнее
            .swiper-controls 
                .swiper-button-next
                    img(src="./svg/index/arrow-next-slide.svg" alt="arrow")
                .swiper-button-prev
                    img(src="./svg/index/arrow-prev-slide.svg" alt="arrow")
                .swiper-pagination

    section.ind-slider 
        .containers 
            .ind-slider__line 
            .ind-slider__title Наше меню
            .ind-slider__wrapper 
                div(thumbsSlider="").swiper.indexSliders_1
                    .swiper-wrapper
                        .swiper-slide
                            .ind-slider__wrapper-item Новинки
                        .swiper-slide
                            .ind-slider__wrapper-item Завтраки
                        .swiper-slide
                            .ind-slider__wrapper-item Холодные закуски
                        .swiper-slide
                            .ind-slider__wrapper-item Салаты
                        .swiper-slide
                            .ind-slider__wrapper-item Горячие закуски
                        .swiper-slide
                            .ind-slider__wrapper-item Супы
                        .swiper-slide
                            .ind-slider__wrapper-item Десерты
                        .swiper-slide
                            .ind-slider__wrapper-item Новинки
                        .swiper-slide
                            .ind-slider__wrapper-item Завтраки
                        .swiper-slide
                            .ind-slider__wrapper-item Холодные закуски
                        .swiper-slide
                            .ind-slider__wrapper-item Салаты
                        .swiper-slide
                            .ind-slider__wrapper-item Горячие закуски
                        .swiper-slide
                            .ind-slider__wrapper-item Супы
                        .swiper-slide
                            .ind-slider__wrapper-item Десерты
                .swiper.indexSliders_2
                    .swiper-wrapper
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                        .swiper-slide
                            .ind-slider__wrappers 
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-1.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-4.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-7.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-8.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-9.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-5.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-6.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-3.png" alt="img")
                                .ind-slider__wrappers-items 
                                    img(src="./img/index/food-2.png" alt="img")
                .swiper-controls 
                    .swiper-button-next
                        img(src="./svg/index/arrow-next-food.svg" alt="icons")
                    .swiper-button-prev
                        img(src="./svg/index/arrow-prev-food.svg" alt="icons")


    section.ind-advantage
        .containers
            .ind-advantage__line 
            .ind-advantage__title Наши преимущества
            .ind-advantage__table 
                .ind-advantage__table-items 
                    .ind-advantage__table-icons 
                        img(src="./svg/index/ads-1.svg" alt="icons")
                    .ind-advantage__table-text Ресторан приходит к вам в любое место-кейтеринг 
                    button.ind-advantage__table-btn Подробнее
                    .ind-advantage__table-left 
                        img(src="./img/index/bgs.png" alt="icons")
                    .ind-advantage__table-right 
                        img(src="./img/index/bgt.png" alt="icons")
                .ind-advantage__table-items 
                    .ind-advantage__table-icons 
                        img(src="./svg/index/ads-2.svg" alt="icons")
                    .ind-advantage__table-text Ресторан приходит к вам в любое место-кейтеринг 
                    button.ind-advantage__table-btn Подробнее
                    .ind-advantage__table-left 
                        img(src="./img/index/bgs.png" alt="icons")
                    .ind-advantage__table-right 
                        img(src="./img/index/bgt.png" alt="icons")
                .ind-advantage__table-items 
                    .ind-advantage__table-icons 
                        img(src="./svg/index/ads-3.svg" alt="icons")
                    .ind-advantage__table-text Ресторан приходит к вам в любое место-кейтеринг 
                    button.ind-advantage__table-btn Подробнее
                    .ind-advantage__table-left 
                        img(src="./img/index/bgs.png" alt="icons")
                    .ind-advantage__table-right 
                        img(src="./img/index/bgt.png" alt="icons")


@@include('components/_footer.pug')

@@include('components/_script.pug')