@@include('components/_head.pug', {
    "title": "Главная",
})

    @@include('components/_header.pug')

    section.ind-header 
        .ind-header__contact
            a(href="https://www.instagram.com/").ind-header__inst instagram
            a(href="tel:+74956659242").ind-header__phone 
                img(src="./svg/index/phone.svg" alt="icons")
                p +7 (495) 665-92-42
        a(href="#").ind-header__media 
            .ind-header__media-text Забронировать стол
            .ind-header__media-icons 
                img(src="./svg/index/media.svg" alt="icons")
        .ind-header__slider
            .swiper.indexHeader
                .swiper-wrapper
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/banner.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text французское кафе
                                a(href="about.html").ind-header__slider-btn О кафе
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/banner.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text французское кафе
                                a(href="about.html").ind-header__slider-btn О кафе
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/banner.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text французское кафе
                                a(href="about.html").ind-header__slider-btn О кафе
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text французское кафе
                                a(href="about.html").ind-header__slider-btn О кафе
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text французское кафе
                                a(href="about.html").ind-header__slider-btn О кафе
                    .swiper-slide 
                        .ind-header__slider-items 
                            .ind-header__slider-bg 
                                img(src="./img/index/slide-1.png" alt="img")
                            .ind-header__slider-info
                                .ind-header__slider-title BLANC DE BLANCS
                                .ind-header__slider-text французское кафе
                                a(href="about.html").ind-header__slider-btn О кафе
            .swiper-controls 
                .swiper-button-next
                    img(src="./svg/index/arrow-next-slide.svg" alt="arrow")
                .swiper-button-prev
                    img(src="./svg/index/arrow-prev-slide.svg" alt="arrow")
                .swiper-pagination


    .index
        img(class="index__bg" src="./img/bg-right.png" alt="img")
        img(class="index__bg" src="./img/bg-left.png" alt="img")
        img(class="index__bg" src="./img/bg-right.png" alt="img")

        section.ind-slider 
            .containers 
                .ind-slider__line 
                .ind-slider__title Наше меню
                .ind-slider__wrapper 
                    div(thumbsSlider="").swiper.indexSliders_1
                        .swiper-wrapper
                            .swiper-slide
                                .ind-slider__wrapper-item Новинки
                            .swiper-slide
                                .ind-slider__wrapper-item Завтраки
                            .swiper-slide
                                .ind-slider__wrapper-item Холодные закуски
                            .swiper-slide
                                .ind-slider__wrapper-item Салаты
                            .swiper-slide
                                .ind-slider__wrapper-item Горячие закуски
                            .swiper-slide
                                .ind-slider__wrapper-item Супы
                            .swiper-slide
                                .ind-slider__wrapper-item Десерты
                            .swiper-slide
                                .ind-slider__wrapper-item Новинки
                            .swiper-slide
                                .ind-slider__wrapper-item Завтраки
                            .swiper-slide
                                .ind-slider__wrapper-item Холодные закуски
                            .swiper-slide
                                .ind-slider__wrapper-item Салаты
                            .swiper-slide
                                .ind-slider__wrapper-item Горячие закуски
                            .swiper-slide
                                .ind-slider__wrapper-item Супы
                            .swiper-slide
                                .ind-slider__wrapper-item Десерты
                    .swiper.indexSliders_2
                        .swiper-wrapper
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                            .swiper-slide
                                .ind-slider__wrappers 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-1.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-4.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-7.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-8.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-9.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-3.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                                    .ind-slider__wrappers-items
                                        a(href="dish.html") 
                                            img(src="./img/index/food-2.png" alt="img")
                                            p Лапша
                                            a(href="#").ind-slider__wrappers-b Подробнее 
                    .swiper-controls 
                        .swiper-button-next
                            img(src="./svg/index/arrow-next-food.svg" alt="icons")
                        .swiper-button-prev
                            img(src="./svg/index/arrow-next-food.svg" alt="icons")


        section.ind-advantage
            .containers
                .ind-advantage__line 
                .ind-advantage__title Почему выбирают именно нас?
                .ind-advantage__table 
                    .swiper.indexAdvantageTable
                        .swiper-wrapper
                            .swiper-slide 
                                .ind-advantage__table-items 
                                    .ind-advantage__table-icons 
                                        img(src="./svg/index/ads-1.svg" alt="icons")
                                    .ind-advantage__table-text Отличная винная карта с демократичными ценами
                                    button.ind-advantage__table-btn Подробнее
                                    .ind-advantage__table-left
                                        img(src="./img/index/bgs.png" alt="icons")
                                    .ind-advantage__table-right
                                        img(src="./img/index/bgt.png" alt="icons")
                            .swiper-slide 
                                .ind-advantage__table-items 
                                    .ind-advantage__table-icons 
                                        img(src="./svg/index/ads-2.svg" alt="icons")
                                    .ind-advantage__table-text Кешбэк: 
                                        br 
                                        | 30% от суммы заказа можно оплатить бонусами 
                                    button.ind-advantage__table-btn Подробнее
                                    .ind-advantage__table-left
                                        img(src="./img/index/bgs.png" alt="icons")
                                    .ind-advantage__table-right
                                        img(src="./img/index/bgt.png" alt="icons")
                            .swiper-slide 
                                .ind-advantage__table-items 
                                    .ind-advantage__table-icons 
                                        img(src="./svg/index/ads-3.svg" alt="icons")
                                    .ind-advantage__table-text Своя служба доставки: привезём любимые блюда домой и в офис
                                    button.ind-advantage__table-btn Подробнее
                                    .ind-advantage__table-left
                                        img(src="./img/index/bgs.png" alt="icons")
                                    .ind-advantage__table-right
                                        img(src="./img/index/bgt.png" alt="icons")

                    .swiper-controls 
                        .swiper-button-next
                        .swiper-button-prev
                        .swiper-pagination


    @@include('components/_footer.pug')

    @@include('components/_menus.pug')

    @@include('components/_modelIndexForm.pug')

    @@include('components/_modeIndexThx.pug')

    @@include('components/_script.pug')