@@include('components/_head.pug', {
    "title": "Рекомендованные",
})

@@include('components/_header.pug')

.menu 
    img(class="menu__bg" src="./img/bg-right.png" alt="img")

    .menu-block 
        .menu-block__bg
        .menu-block__list.menu-block__list-active
            .menu-block__list-arrow#btn-menu
                img(src="./svg/menu/arrow-open.svg" alt="icons")
                h3 Скрыть
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/news.svg" alt="icons")
                h3 Новинки
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-1.svg" alt="icons")
                h3 Завтраки
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-2.svg" alt="icons")
                h3 Холодные закуски и салаты
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-3.svg" alt="icons")
                h3 Горячие блюда
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-4.svg" alt="icons")
                h3 Супы
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-5.svg" alt="icons")
                h3 Паста
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-6.svg" alt="icons")
                h3 Гриль
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-7.svg" alt="icons")
                h3 Горячие напитки
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-8.svg" alt="icons")
                h3 Холодные напитки
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/icons-9.svg" alt="icons")
                h3 Десерты
            a(href="dish.html").menu-block__list-items
                img(src="./svg/menu/ready.svg" alt="icons")
                button.menu-block__list-btn Рекомендованные
            a(href="dish.html").menu-block__list-items
                img(src="./img/menu/qr.png" alt="qr")
                h3 Меню в формате .pdf

        .menu-block__containers 
            .menu-block__title 
                p Рекомендованные
                .menu-block__title-filter 
                    img(src="./svg/index/filter.svg" alt="icons")
            .menu-block__wrappers
                .menu-block__wrapper 
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items.menu-block__items-v
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
                    a(href="dish.html").menu-block__items 
                        .menu-block__items-photo 
                            img(src="./img/menu/items-1.png" alt="img")
                        .menu-block__items-new 
                            img(src="./svg/menu/type.svg" alt="icons")
                        .menu-block__items-price 
                            p 430 ₽
                        .menu-block__items-line 
                        .menu-block__items-text 
                            h3 Свежий салат
            button.menu-block__btn
                p Смотреть еще


@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')