@@include('components/_head.pug', {
    "title": "Главная",
})

@@include('components/_header.pug')

.menu 
    img(class="menu__bg" src="./img/bg-right.png" alt="img")

    .menu-block 
        .menu-block__bg
        .menu-block__list 
        .containers 
            .menu-block__title Рекомендованные
            .menu-block__wrapper 
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-1.png" alt="img")
                    .menu-block__items-veg 
                        img(src="./svg/menu/veg.svg" alt="icons")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-2.png" alt="img")
                    .menu-block__items-new 
                        img(src="./svg/menu/new.svg" alt="icons")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-3.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-4.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-5.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-6.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-6.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-6.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-6.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-6.png" alt="img")
                a(href="#").menu-block__items 
                    .menu-block__items-text 
                        h3 Свежий салат
                        .menu-block__items-price 
                            p 430 руб
                    .menu-block__items-photo 
                        img(src="./img/menu/items-6.png" alt="img")
                a(href="#").menu-block__item
                    .menu-block__item-title Новые блюда уже скоро
                    .menu-block__item-photo 
                        img(src="./svg/menu/bg.svg" alt="img")




@@include('components/_footers.pug')

@@include('components/_script.pug')