@@include('components/_head.pug', {
    "title": "Главная",
})

@@include('components/_header.pug')

.promotion 
    img(class="promotion__bg" src="./img/bg-right.png" alt="img")
    img(class="promotion__bg" src="./img/bg-left.png" alt="img")

    .promotion-block 
        .promotion-block__bg
        .promotion-block__containers 
            button.promotion-block__back(onclick="history.back();") вернуться назад
            .promotion-block__title Акции и бонусы
            .promotion-block__nav 
                .promotion-block__nav-items.promotion-block__nav-active Показать все
                .promotion-block__nav-items Специальные предложения
                .promotion-block__nav-items Бонусы
            .promotion-block__list 
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
            .promotion-block__list.display-n
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
            .promotion-block__list.display-n
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее
                a(href="#").promotion-block__items 
                    .promotion-block__photo
                        img(src="./img/promotion/img.png" alt="img")
                    .promotion-block__date 29.01.22
                    .promotion-block__titles Заголовок текст
                    .promotion-block__text В середине XIX века главным жителем Люсиновской улицы, которая тогда еще называлась Малой Серпуховской, стал заезжий французский 
                        span читать далее






@@include('components/_footer.pug')

@@include('components/_script.pug')