@@include('components/_head.pug', {
    "title": "Акции и бонусы",
})

@@include('components/_header.pug')

.promotion 
    img(class="promotion__bg" src="./img/bg-left.png" alt="img")

    .promotion-block 
        .promotion-block__bg
        .promotion-block__containers 
            .promotion-block__title Акции и бонусы
            .promotion-block__nav 
                .promotion-block__nav-items.promotion-block__nav-active Показать все
                .promotion-block__nav-items Специальные предложения
                .promotion-block__nav-items Бонусы
            .promotion-block__list 
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Кешбэк
                        p Пользуйтесь нашей электронной картой лояльности. Чем чаще вы у нас бываете, тем выше уровень ваших накоплений. Мы дарим приветственные бонусы новичкам, а также бонусы по случаю ...
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Десерт и скидка в день рождения
                        p В день рождения и в течение недели после него мы дарим имениннику десерт и скидку 10%.* 
                            br
                            br
                            | *Скидка распространяется на именинника и его компанию до 6 человек. 
                        button(onclick='').display-n ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Десерт для театралов
                        p Ужин и бокал вина в приятной атмосфере – прекрасное завершение театрального вечера. Покажите ваш билет в театр официанту, и мы будем рады угостить вас десертом.* 
                            br 
                            | *Предложение действует при заказе от 1 000 рублей. 
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Игристое для молодожёнов
                        p Проведите своё свадебное торжество в Blanc des Blancs. Мы поможем вам организовать незабываемый праздник и преподнесём в подарок* ящик игристого вина. 
                            br
                            | *Количество подарков ограничено, уточняйте информацию у менеджера
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
            .promotion-block__list.display-n
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Десерт для театралов
                        p Ужин и бокал вина в приятной атмосфере – прекрасное завершение театрального вечера. Покажите ваш билет в театр официанту, и мы будем рады угостить вас десертом.* 
                            br 
                            | *Предложение действует при заказе от 1 000 рублей. 
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Десерт для театралов
                        p Ужин и бокал вина в приятной атмосфере – прекрасное завершение театрального вечера. Покажите ваш билет в театр официанту, и мы будем рады угостить вас десертом.* 
                            br 
                            | *Предложение действует при заказе от 1 000 рублей. 
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Десерт для театралов
                        p Ужин и бокал вина в приятной атмосфере – прекрасное завершение театрального вечера. Покажите ваш билет в театр официанту, и мы будем рады угостить вас десертом.* 
                            br 
                            | *Предложение действует при заказе от 1 000 рублей. 
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        h3 Десерт для театралов
                        p Ужин и бокал вина в приятной атмосфере – прекрасное завершение театрального вечера. Покажите ваш билет в театр официанту, и мы будем рады угостить вас десертом.* 
                            br 
                            | *Предложение действует при заказе от 1 000 рублей. 
                        button(onclick='') ЧИТАТЬ ДАЛЕЕ
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                
            .promotion-block__list.promotion-block__list-items.display-n
                .promotion-block__list-items-p 
                    img(src="./img/promotion/icons-1.png" alt="img")
                    img(src="./img/promotion/icons-2.png" alt="img")
                .promotion-block__list-items-t 
                    h3 Получение и приемущества 
                    .promotion-block__list-items-d Наведите камеру на QR-код,  чтобы скачать новое приложение с самыми акиуальными скидочными программами
                    .promotion-block__list-items-l 
                        p Сделайте заказ в нашем ресторане на сумму более 10000 рублей
                        p Станьте нашим постоянным клиентом
                        p Получайте бонусы на карту от ваших заказов
                        p Участвуйте в специальных конкурсах за баллы
                        p Приобретите дополнительные скидки
                        a(href="#") Подробнее о системе лояльности
                    .promotion-block__list-items-i 
                        a(href="#")
                            img(src="./img/promotion/img-1.png" alt="icons") 
                        a(href="#") 
                            img(src="./img/promotion/img-2.png" alt="icons")




@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')