@@include('components/_head.pug', {
    "title": "Акции и бонусы",
})

@@include('components/_header.pug')

.promotion 
    img(class="promotion__bg" src="./img/bg-left.png" alt="img")

    .promotion-block 
        .promotion-block__bg
        .promotion-block__containers 
            .promotion-block__title Акции и бонусы
            .promotion-block__nav 
                .promotion-block__nav-items.promotion-block__nav-active Показать все
                .promotion-block__nav-items Специальные предложения
                .promotion-block__nav-items Бонусы
            .promotion-block__list 
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                    .promotion-block__date.display-n
                        p До конца акции
                        .promotion-block__dates 
                            span 1 день 8 часов
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__date
                        p До конца акции
                        .promotion-block__dates 
                            span 1 день 8 часов
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
            .promotion-block__list.display-n
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                    .promotion-block__date.display-n
                        p До конца акции
                        .promotion-block__dates 
                            span 1 день 8 часов
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__date
                        p До конца акции
                        .promotion-block__dates 
                            span 1 день 8 часов
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
            .promotion-block__list.display-n
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__time 
                        p До конца акции
                        .promotion-block__times 
                            img(src="./img/promotion/time.png" alt="icons")
                            span 00:03:20
                    .promotion-block__date.display-n
                        p До конца акции
                        .promotion-block__dates 
                            span 1 день 8 часов
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                    .promotion-block__date
                        p До конца акции
                        .promotion-block__dates 
                            span 1 день 8 часов
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")
                a(href="promotions.html").promotion-block__items 
                    .promotion-block__titles 
                        p Заголовок текст
                    .promotion-block__photo
                        img(src="./img/promotion/items.png" alt="img")




@@include('components/_footers.pug')

@@include('components/_script.pug')