@@include('components/_head.pug', {
    "title": "Винная карта",
})

@@include('components/_header.pug')

.wine 
    img(class="wine__bg" src="./img/bg-right.png" alt="img")

    .wine-block 
        .wine-block__bg
        .wine-block__containers 
            .wine-block__title 
                p Винная карта
                .wine-block__title-filter 
                    img(src="./svg/index/filter.svg" alt="icons")
            .wine-block__filter 
                h3 Найди своё вино:
                .wine-block__wrappers 
                    //- .wine-block__filter-catalog 
                    //-     select(class="cart-select" name="cart" style="display: none")
                    //-         option Все категории
                    //-         option(value="default" selected="") Новые
                    //-         option(value="price_desc" data-icon="") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //- .wine-block__filter-type
                    //-     select(class="c_select" name="sort" style="display: none")
                    //-         option(data-icon="./img/wine/circle.png" value="default" selected="") Красное
                    //-         option(data-icon="./img/wine/circle.png" value="element_2") 1расное
                    //-         option(data-icon="./img/wine/circle.png" value="element_3") Красное
                    //-         option(data-icon="./img/wine/circle.png" value="element_4") Красное
                    //-         option(data-icon="./img/wine/circle.png" value="element_5") Красное
                    //-         option(data-icon="./img/wine/circle.png" value="element_6") Красное
                    //-         option(data-icon="./img/wine/circle.png" value="element_7") Красное
                    //-         option(data-icon="./img/wine/circle.png" value="element_8") Красное
                    //- .wine-block__filter-country
                    //-     select(class="c_select" name="sort" style="display: none")
                    //-         option(data-icon="./img/bar/flag.png" value="default" selected="") Италия
                    //-         option(data-icon="./img/bar/flag.png" value="element_2") 1талия
                    //-         option(data-icon="./img/bar/flag.png" value="element_3") Италия
                    //-         option(data-icon="./img/bar/flag.png" value="element_4") Италия
                    //-         option(data-icon="./img/bar/flag.png" value="element_5") Италия
                    //-         option(data-icon="./img/bar/flag.png" value="element_6") Италия
                    //-         option(data-icon="./img/bar/flag.png" value="element_7") Италия
                    //-         option(data-icon="./img/bar/flag.png" value="element_8") Италия
                    //- .wine-block__filter-volume
                    //-     select(class="cart-select" name="cart" style="display: none")
                    //-         option Брют 0-12 г/л
                    //-         option(value="default" selected="") Новые
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //-         option(value="price_desc") Цена уменьшение
                    //- .wine-block__filter-add
                        select(class="cart-select" name="cart" style="display: none")
                            option Морепродукты
                            option(value="default" selected="") Новые
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                    .wine-block__filter-search 
                        input(type="text" placeholder="Найти напиток" value='')
                        button.wine-block__filter-search-btn
                    //- .wine-block__filter-reset
                    //-     img(src="./svg/wine/close.svg" alt="close")
                    //-     p Сбросить
                    .wine-block__filter-block.display-n
                        .wine-block__filter-wrapper 
                            .wine-block__filter-catalog
                                .wine-block__filter-catalog-c
                                    input(class="wine-block__filter-catalog-c__input" type="checkbox" id="wine_catalog_1")
                                    label(class="wine-block__filter-catalog-c__label" for="wine_catalog_1")
                                    .wine-block__filter-catalog-c__t Италия
                                .wine-block__filter-catalog-c
                                    input(class="wine-block__filter-catalog-c__input" type="checkbox" id="wine_catalog_2")
                                    label(class="wine-block__filter-catalog-c__label" for="wine_catalog_2")
                                    .wine-block__filter-catalog-c__t Италия
                                .wine-block__filter-catalog-c
                                    input(class="wine-block__filter-catalog-c__input" type="checkbox" id="wine_catalog_3")
                                    label(class="wine-block__filter-catalog-c__label" for="wine_catalog_3")
                                    .wine-block__filter-catalog-c__t Италия
                                .wine-block__filter-catalog-c
                                    input(class="wine-block__filter-catalog-c__input" type="checkbox" id="wine_catalog_4")
                                    label(class="wine-block__filter-catalog-c__label" for="wine_catalog_4")
                                    .wine-block__filter-catalog-c__t Италия
                                .wine-block__filter-catalog-c
                                    input(class="wine-block__filter-catalog-c__input" type="checkbox" id="wine_catalog_5")
                                    label(class="wine-block__filter-catalog-c__label" for="wine_catalog_5")
                                    .wine-block__filter-catalog-c__t Италия
                            .wine-block__filter-line
                            .wine-block__filter-type
                                .wine-block__filter-type-c
                                    input(class="wine-block__filter-type-c__input" type="checkbox" id="wine_type_1")
                                    label(class="wine-block__filter-type-c__label" for="wine_type_1")
                                    .wine-block__filter-type-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-type-c__t Италия
                                .wine-block__filter-type-c
                                    input(class="wine-block__filter-type-c__input" type="checkbox" id="wine_type_2")
                                    label(class="wine-block__filter-type-c__label" for="wine_type_2")
                                    .wine-block__filter-type-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-type-c__t Италия
                                .wine-block__filter-type-c
                                    input(class="wine-block__filter-type-c__input" type="checkbox" id="wine_type_3")
                                    label(class="wine-block__filter-type-c__label" for="wine_type_3")
                                    .wine-block__filter-type-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-type-c__t Италия
                                .wine-block__filter-type-c
                                    input(class="wine-block__filter-type-c__input" type="checkbox" id="wine_type_4")
                                    label(class="wine-block__filter-type-c__label" for="wine_type_4")
                                    .wine-block__filter-type-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-type-c__t Италия
                                .wine-block__filter-type-c
                                    input(class="wine-block__filter-type-c__input" type="checkbox" id="wine_type_5")
                                    label(class="wine-block__filter-type-c__label" for="wine_type_5")
                                    .wine-block__filter-type-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-type-c__t Италия
                            .wine-block__filter-line
                            .wine-block__filter-country
                                .wine-block__filter-country-c
                                    input(class="wine-block__filter-country-c__input" type="checkbox" id="wine_country_1")
                                    label(class="wine-block__filter-country-c__label" for="wine_country_1")
                                    .wine-block__filter-country-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-country-c__t Италия
                                .wine-block__filter-country-c
                                    input(class="wine-block__filter-country-c__input" type="checkbox" id="wine_country_2")
                                    label(class="wine-block__filter-country-c__label" for="wine_country_2")
                                    .wine-block__filter-country-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-country-c__t Италия
                                .wine-block__filter-country-c
                                    input(class="wine-block__filter-country-c__input" type="checkbox" id="wine_country_3")
                                    label(class="wine-block__filter-country-c__label" for="wine_country_3")
                                    .wine-block__filter-country-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-country-c__t Италия
                                .wine-block__filter-country-c
                                    input(class="wine-block__filter-country-c__input" type="checkbox" id="wine_country_4")
                                    label(class="wine-block__filter-country-c__label" for="wine_country_4")
                                    .wine-block__filter-country-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-country-c__t Италия
                                .wine-block__filter-country-c
                                    input(class="wine-block__filter-country-c__input" type="checkbox" id="wine_country_5")
                                    label(class="wine-block__filter-country-c__label" for="wine_country_5")
                                    .wine-block__filter-country-c__i 
                                        img(src="./img/bar/flag.png" alt="icons")
                                    .wine-block__filter-country-c__t Италия
                            .wine-block__filter-line
                            .wine-block__filter-volume
                                .wine-block__filter-volume-c
                                    input(class="wine-block__filter-volume-c__input" type="checkbox" id="wine_volume_1")
                                    label(class="wine-block__filter-volume-c__label" for="wine_volume_1")
                                    .wine-block__filter-volume-c__t Италия
                                .wine-block__filter-volume-c
                                    input(class="wine-block__filter-volume-c__input" type="checkbox" id="wine_volume_2")
                                    label(class="wine-block__filter-volume-c__label" for="wine_volume_2")
                                    .wine-block__filter-volume-c__t Италия
                                .wine-block__filter-volume-c
                                    input(class="wine-block__filter-volume-c__input" type="checkbox" id="wine_volume_3")
                                    label(class="wine-block__filter-volume-c__label" for="wine_volume_3")
                                    .wine-block__filter-volume-c__t Италия
                                .wine-block__filter-volume-c
                                    input(class="wine-block__filter-volume-c__input" type="checkbox" id="wine_volume_4")
                                    label(class="wine-block__filter-volume-c__label" for="wine_volume_4")
                                    .wine-block__filter-volume-c__t Италия
                                .wine-block__filter-volume-c
                                    input(class="wine-block__filter-volume-c__input" type="checkbox" id="wine_volume_5")
                                    label(class="wine-block__filter-volume-c__label" for="wine_volume_5")
                                    .wine-block__filter-volume-c__t Италия
                            .wine-block__filter-line
                            .wine-block__filter-product
                                .wine-block__filter-product-c
                                    input(class="wine-block__filter-product-c__input" type="checkbox" id="wine_product_1")
                                    label(class="wine-block__filter-product-c__label" for="wine_product_1")
                                    .wine-block__filter-product-c__t Италия
                                .wine-block__filter-product-c
                                    input(class="wine-block__filter-product-c__input" type="checkbox" id="wine_product_2")
                                    label(class="wine-block__filter-product-c__label" for="wine_product_2")
                                    .wine-block__filter-product-c__t Италия
                                .wine-block__filter-product-c
                                    input(class="wine-block__filter-product-c__input" type="checkbox" id="wine_product_3")
                                    label(class="wine-block__filter-product-c__label" for="wine_product_3")
                                    .wine-block__filter-product-c__t Италия
                                .wine-block__filter-product-c
                                    input(class="wine-block__filter-product-c__input" type="checkbox" id="wine_product_4")
                                    label(class="wine-block__filter-product-c__label" for="wine_product_4")
                                    .wine-block__filter-product-c__t Италия
                                .wine-block__filter-product-c
                                    input(class="wine-block__filter-product-c__input" type="checkbox" id="wine_product_5")
                                    label(class="wine-block__filter-product-c__label" for="wine_product_5")
                                    .wine-block__filter-product-c__t Италия



            .wine-block__list 
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014
                a(href="wines.html").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        h5 50/1000 мл 
                        p 10 790₽ / 120 430₽
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Borgogno Barolo Cannubi DOCG 2014

            button.wine-block__open Смотреть еще





@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')