@@include('components/_head.pug', {
    "title": "Винная карта",
})

@@include('components/_header.pug')

.wine 
    img(class="wine__bg" src="./img/bg-right.png" alt="img")

    .wine-block 
        .wine-block__bg
        .wine-block__containers 
            .wine-block__title 
                p Винная карта
                .wine-block__title-filter 
                    img(src="./svg/index/filter.svg" alt="icons")
            .wine-block__filter 
                h3 Найди своё вино:
                .wine-block__wrappers 
                    .wine-block__filter-catalog 
                        select(class="cart-select" name="cart" style="display: none")
                            option Все категории
                            option(value="default" selected="") Новые
                            option(value="price_desc" data-icon="") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                    .wine-block__filter-type
                        select(class="c_select" name="sort" style="display: none")
                            option(data-icon="./img/wine/circle.png" value="default" selected="") Красное
                            option(data-icon="./img/wine/circl.png" value="element_2") 1расное
                            option(data-icon="./img/wine/circle.png" value="element_3") Красное
                            option(data-icon="./img/wine/circle.png" value="element_4") Красное
                            option(data-icon="./img/wine/circle.png" value="element_5") Красное
                            option(data-icon="./img/wine/circle.png" value="element_6") Красное
                            option(data-icon="./img/wine/circle.png" value="element_7") Красное
                            option(data-icon="./img/wine/circle.png" value="element_8") Красное
                    .wine-block__filter-country
                        select(class="c_select" name="sort" style="display: none")
                            option(data-icon="./img/bar/flag.png" value="default" selected="") Италия
                            option(data-icon="./img/bar/fla.png" value="element_2") 1талия
                            option(data-icon="./img/bar/flag.png" value="element_3") Италия
                            option(data-icon="./img/bar/flag.png" value="element_4") Италия
                            option(data-icon="./img/bar/flag.png" value="element_5") Италия
                            option(data-icon="./img/bar/flag.png" value="element_6") Италия
                            option(data-icon="./img/bar/flag.png" value="element_7") Италия
                            option(data-icon="./img/bar/flag.png" value="element_8") Италия
                    .wine-block__filter-volume
                        select(class="cart-select" name="cart" style="display: none")
                            option Брют 0-12 г/л
                            option(value="default" selected="") Новые
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                    .wine-block__filter-add
                        select(class="cart-select" name="cart" style="display: none")
                            option Морепродукты
                            option(value="default" selected="") Новые
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                            option(value="price_desc") Цена уменьшение
                    .wine-block__filter-search 
                        input(type="text" placeholder="Найти напиток" value='')
                        button.wine-block__filter-search-btn
                    .wine-block__filter-reset
                        img(src="./svg/wine/close.svg" alt="close")
                        p Сбросить
            .wine-block__list 
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items.wine-block__items-v
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”
                a(href="#").wine-block__items
                    .wine-block__items-new 
                        img(src="./img/wine/new.png" alt="icons")
                    .wine-block__items-photo 
                        img(src="./img/wine/items.png" alt="img")
                    .wine-block__items-price 
                        p 1200 руб
                    .wine-block__items-line
                    .wine-block__items-title
                        h3 Вино белое “Инкерман”

            button.wine-block__open Смотреть еще





@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')