@@include('components/_head.pug', {
    "title": "Винная карта",
})

@@include('components/_header.pug')

.wines 
    img(class="wines__bg" src="./img/bg-right.png" alt="img")
    img(class="wines__bg" src="./img/bg-left.png" alt="img")

    .wines-block 
        .wines-block__containers 
            button.wines-block__info-back(onclick="history.back();") 
                img(src="./svg/wines/arrow.svg" alt="icons")
                p Назад
            .wines-block__profile 
                .wines-block__profile-new 
                    img(src="./img/wines/new.png" alt="img")
                .wines-block__profile-items 
                    img(src="./img/wines/items.png" alt="img")
                .wines-block__profile-status 
                    .wines-block__profile-fortress 
                        p Крепость
                        span 14%
                    .wines-block__profile-volume 
                        p Объём
                        span 0.75 л
                    .wines-block__info-status 
                        .wines-block__info-viv 
                            img(src="./svg/wines/grat.svg" alt="icons")
                            p VIVINO
                            .wines-block__info-vivs 
                                img(src="./svg/wines/red.svg" alt="icons")
                                p 4.5
                        .wines-block__info-vin 
                            p VIN
                            .wines-block__info-vins
                                img(src="./svg/wines/blue.svg" alt="icons")
                                p 90

            .wines-block__info
                .wines-block__info-add Новинка
                .wines-block__info-title Красное вино INCERMAN
                .wines-block__info-description Гастрономическое сочетание:  
                    span Данное вино подходит для мясных блюд, хорошо сочетается с гусиным мясом. Может вам понравиться, если вы любите нотки сладости.
                .wines-block__info-wrappers 
                    .wines-block__info-wrapper
                        .wines-block__info-author Производитель: 
                            span Nike Wels
                        .wines-block__info-combination 
                            p Сочетаемость: 
                            .wines-block__info-combinations 
                                img(src="./svg/wines/icon-2.svg" alt="icons")
                            .wines-block__info-combinations 
                                img(src="./svg/wines/icon-1.svg" alt="icons")
                            .wines-block__info-combinations 
                                img(src="./svg/wines/icon-3.svg" alt="icons")
                    .wines-block__info-catalog 
                        .wines-block__info-items
                            img(src="./img/wines/grat.png" alt="img")
                            p Рислинг
                        .wines-block__info-items
                            img(src="./img/wines/flag.png" alt="img")
                            p Франция
                        .wines-block__info-items
                            img(src="./img/wines/year.png" alt="img")
                            p 1998
                .wines-block__info-btns 
                    .wines-block__info-volume
                        .wines-block__info-volume-radio
                            input(class="wines-block__info-volume-radio__input" name="volume__wines" type="radio" id="volume__wines_1" checked)
                            label(class="wines-block__info-volume-radio__label" for="volume__wines_1") 200 млг
                        .wines-block__info-volume-radio
                            input(class="wines-block__info-volume-radio__input" name="volume__wines" type="radio" id="volume__wines_2")
                            label(class="wines-block__info-volume-radio__label" for="volume__wines_2") 1 литр
                    button.wines-block__info-pay 
                        img(src="./svg/wines/baskets.svg" alt="icons")
                        p 290 ₽



@@include('components/_footers.pug')

@@include('components/_menus.pug')

@@include('components/_script.pug')