@media (min-width: 1500px) {
	.header__order {
		right: 20%;
	}
	.header__basket {
		left: 20%;
	}
}
@media (min-width: 1600px) {
	.header__order {
		right: 23%;
	}
	.header__basket {
		left: 23%;
	}
}
@media (min-width: 1700px) {
	.header__order {
		right: 25%;
	}
	.header__basket {
		left: 25%;
	}
}
@media (min-width: 1800px) {
	.header__order {
		right: 27%;
	}
	.header__basket {
		left: 27%;
	}
}
