.promotions {
	position: relative;
	&__bg {
		position: absolute;
		&:nth-child(1) {
			left: 0;
			top: 320px;
		}
		&:nth-child(2) {
			right: 0;
			top: 310px;
		}
	}
}

.promotions-block {
	width: 100%;
	position: relative;
	padding: 270px 0 0 0;
	&__containers {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 60px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		align-items: stretch;
	}
	&__photo {
		width: 540px;
		overflow: hidden;
		height: 510px;
		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__info {
		width: 750px;
		height: max-content;
		box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
		background: #ffffff;
		padding: 65px 100px 50px 55px;
		&-title {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 50px;
			color: #021245;
		}
		&-text {
			margin: 20px 0 0 0;
			font-family: PTSerif;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 32px;
			color: #000000;
		}
		&-btns {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			margin: 30px 0 0 0;
		}
		&-back {
			border: 2px solid #003f80;
			border-radius: 38.5px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: transparent;
			padding: 14px 55px;
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 20px;
				color: #003f80;
				margin: 0 0 0 10px;
			}
		}
		&-code {
			& p {
				font-family: PTSans;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				color: #021245;
				text-align: center;
			}
		}
	}
}
