.about {
	position: relative;
	&__bg {
		position: absolute;
		&:nth-child(1) {
			left: 0;
			top: 1500px;
		}
		&:nth-child(2) {
			right: 0;
			top: 400px;
		}
	}
}

.about-block {
	width: 100%;
	position: relative;
	padding: 230px 0 0 0;
	&__containers {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 60px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 90px;
	}
	&__title {
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		line-height: 30px;
		color: #021245;
	}
	&__description {
		display: flex;
		width: 100%;
		align-items: stretch;
		justify-content: space-between;
		&-text {
			width: 540px;
			background: #ffffff;
			& p {
				font-family: PTSerif;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				color: #000000;
			}
		}
		&-photo {
			width: 583px;
			height: 490px;
			overflow: hidden;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__descriptions {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		align-items: flex-start;
		justify-content: space-between;
		gap: 50px;
		margin: 0 0 100px 0;
		&-text {
			width: 546px;
			& p {
				font-family: PTSerif;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				color: #000000;
			}
		}
		&-photo {
			width: 700px;
			overflow: hidden;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 25px;
			& img {
				width: 100%;
				height: 356px;
				object-fit: cover;
			}
		}
	}
}
