@media (max-width: 1350px) {
	.about-block__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.about-block__description {
		width: 100%;
	}
	.about-block__photo {
		align-items: center;
		display: flex;
		margin: 70px 0 0 0;
		width: 100%;
	}
	.about-block__wine {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.about-block__photos {
		width: 100%;
		margin: 75px 0 0 0;
	}
	.about-block__wines {
		width: 100%;
	}
	.about-block__franc {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.about-block__francs {
		margin: 75px 0 0 0;
		width: 100%;
	}
	.about-block__team-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.about-block__team-text {
		width: 100%;
		margin: 70px 0 0 0;
	}
	.about-block__team-photo {
		width: 100%;
	}
}
@media (max-width: 1200px) {
	.about-block__containers {
		padding: 0 20px;
	}
	.about-block__slider-items {
		min-height: 525px;
		padding: 50px 55px;
		background: #06417d;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.about-block__slider .swiper-button-next {
		opacity: 1;
		cursor: pointer;
		right: 25%;
	}
	.about-block__slider .swiper-button-prev {
		opacity: 1;
		cursor: pointer;
		left: 25%;
	}
}
@media (max-width: 600px) {
	.about-block__slider .swiper-button-next {
		opacity: 1;
		cursor: pointer;
		right: 15%;
	}
	.about-block__slider .swiper-button-prev {
		opacity: 1;
		cursor: pointer;
		left: 15%;
	}
	.about-block__slider-items {
		min-height: 525px;
		padding: 50px 30px;
		background: #06417d;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.about-block__slider {
		width: 100%;
		margin: 170px 0 0 0;
		position: relative;
	}
}
